:root{
    --primario: #9c27b0;
    --primarioOscuro: #89119d;
    --secundario: #ffce00;
    --secundarioOscuro: rgb(233, 187, 2);
    --blanco: #fff;
    --negro: #000;
    
    --fuentePrincipal: font-family: "Staatliches", sans-serif;
}
.staatliches-regular {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}

/**Globales**/
body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}
p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
h1,h2,h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}

/**Header**/
.header{
    display: flex;
    justify-content: center;
}
.header__logo{
    margin: 3rem 0;
}

/**Navegacion**/
.navegacion{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    gap: 1rem;
    background-color: var(--primarioOscuro);
}
.navegacion__enlace{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--secundario);
}

/**Footer**/
.footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__texto{
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 2.2rem;
}